:root {
  /* change the values below to your colors from your palette */
  --primary-color: #84DB74;
  --secondary-color: #FA5B64;
  --accent1-color: #FFCF49;
  --accent2-color: #4C8D40;

  /* change the values below to your chosen font(s) */
  --heading-font: "Playfair Display", Helvetica, sans-serif;
  --paragraph-font: Roboto, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #396E94;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #396E94  ;
  --nav-link-color: #396E94;
  --nav-background-color: #D4AC0D;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #396E94;
}

body {
    background-color: var(--primary-color);
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--nav-background-color);
    height: 10vh;
}
header a {
    color: var(--nav-link-color);
    font-size: 30px;
    align-content: center;
    text-align: center;
}
header a:hover {
    color: var(--nav-hover-link-color);
}
header img {
    grid-column: 4/5;
    width: 15%;
    border-radius: 50%;
    margin: auto;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
main h1 {
    grid-column: 1/4;
    text-align: center;
}
.play {
    margin: auto;
    height: 400px;
    background-color: var(--accent2-color);
    border: 2px solid black;
    border-radius: 10px;
    width: 90%;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.play p:nth-of-type(1) {
    text-align: center;
}
#img-holder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 5/6;
    grid-column: 1/4;
}
#img-holder img {
    margin: auto;
    height: 20vw;
    margin-bottom: 15px;
}

footer {
    padding: 4px;
    background-color: var(--nav-background-color);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
footer img {
    width: 20%;
    border-radius: 50%;
    grid-row: 1/3;
}
footer a {
    color: var(--nav-link-color);
    text-align: left;
    font-size: 20px;
}
footer a:hover {
    color: var(--nav-hover-link-color);
}
footer p {
    grid-column: 3;
    font-size: 15px;
}