@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap');

:root {
    --primary-color: #FEFEFE;
    --secondary-color: #97D4E2;
    --accent1-color: #0C4166;
    --accent2-color: #8DAABE;
    --rock-salt-family: "Rock Salt", Helvetica, sans-serif;
    --roboto-family: Roboto, Helvetica, sans-serif;
}

header {
    background-color: var(--secondary-color);
    font-family: var(--roboto-family);
    display: grid;
    grid-template-columns: 150px auto;
    opacity: .7;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: var(--accent2-color);
    color: var(--accent1-color);
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.home-title {
    color: black;
    font-family: var(--rock-salt-family);
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: black;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: var(--primary-color);
    font-size: 22px;
    padding: 0;
    margin: 0;
    font-family: var(--roboto-family);
}

h2 {
    margin: 0;
}

footer {
    background-color: var(--accent1-color);
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: var(--secondary-color);
}

footer .social img {
    padding-top: 15px;
}

.book, .join {
    background-color: var(--secondary-color);
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: var(--accent2-color);
    color: var(--accent1-color);
}

.msg {
    background-color: var(--secondary-color);
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px var(--accent1-color);
}

.msg h2 {
    color: black;
    font-family: Roboto, Helvetica, sans-serif;
}

.msg p {
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: var(--secondary-color);
    grid-column: 1/11;
    grid-row: 4/9;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    text-align: center;
}

#hero-msg h1, #hero-msg h4 {
    color: var(--accent2-color);
}

#hero-img {
    width: 100%;
}

.icon {
    padding-top: 10px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 100px;
    min-width: 300px;
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

.card-img {
    border: 10px solid var(--accent2-color);
    transition: transform .5s;
    box-shadow: 5px 5px 10px var(--accent1-color);
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.card-img, .mountains {
    width: 100%;
}

.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px var(--accent1-color);
}

/* rates.html */

.rates-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#rates-header {
    grid-column: 1/4;
    grid-row: 1/2;
    z-index: 1;
    justify-self: center;
}

#rates-img {
    grid-column: 2/3;
    justify-self: center;
    margin: auto;
    margin-left: 40px;
    border-radius: 10px;
    width: 25vw;
}

.trips {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    justify-self: center;
}

.trips ul li {
    display: flex;
    justify-content: center;
    margin-right: 30px;
    list-style-type: none;
}

#trip3, #trip4 {
    margin-bottom: -140px;
}

#trip1, #trip3 {
    grid-column: 1/2;
}

#trip2, #trip4 {
    grid-column: 3/4;
}

#trip1, #trip2 {
    grid-row: 2/3;
}

#trip3, #trip4 {
    grid-row: 3/4;
}

/* media queries, keep at the end */
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
            