@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap');

:root {
    --primary-color: #FEFEFE;
    --secondary-color: #97D4E2;
    --accent1-color: #0C4166;
    --accent2-color: #8DAABE;
    --rock-salt-family: "Rock Salt", Helvetica, sans-serif;
    --roboto-family: Roboto, Helvetica, sans-serif;
}

header {
    background-color: var(--secondary-color);
    font-family: var(--roboto-family);
}

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: var(--accent2-color);
    color: var(--accent1-color);
}

.home-title {
    color: black;
    font-family: var(--rock-salt-family);
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: black;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: var(--primary-color);
    font-size: 22px;
    padding: 0;
    margin: 0;
    font-family: var(--roboto-family);
}

h2 {
    margin: 0;
}

footer {
    background-color: var(--accent1-color);
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: var(--secondary-color);
}

footer .social img {
    padding-top: 15px;
}

.book, .join {
    background-color: var(--secondary-color);
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: var(--accent2-color);
    color: var(--accent1-color);
}

.msg {
    background-color: var(--secondary-color);
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    color: black;
    font-family: Roboto, Helvetica, sans-serif;
}

.msg p {
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: var(--secondary-color);
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
}

#hero-img {
    width: 100%;
}

.icon {
    padding-top: 10px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px;
}

.card-img {
    border: 10px solid var(--accent2-color);
}