body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
}

h1 {
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 1;
    align-self: center;
    text-align: center;
    font-size: 100px;
}

h2 {
    grid-column: 2/3;
    grid-row: 2/3;
    z-index: 1;
    align-self: center;
    text-align: center;
    font-size: 50px;
    color: darkred;
}

img {
    grid-column: 1/2;
    grid-row: 1/3;
    max-width: 100%;
}

div {
    grid-column: 2/3;
    grid-row: 1/3;
    background-color: darkgray;
}