img {
    width: 30vw;
    height: 100%;
    grid-column: 1/4;
    grid-row: 1/3;
}

body {
    width: 30vw;
    margin: auto;
    background-color: rgb(35, 35, 35);
}

#body {
    background-color: white;
    width: 30vw;
    height: 100vh;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border: 2px red solid;
}

#header {
    grid-column: 1/4;
    grid-row: 3/4;
    color: rgb(57, 95, 138);
}

#main-p {
    grid-column: 1/4;
    grid-row: 4/6;
    text-align: justify;
    font-size: 30px;
    margin: 10px;
    color: gray;
}

h1 {
    grid-column: 1/4;
    grid-row: 3/4;
    justify-content: center;
    padding-top: 5%;
}

.one {
    grid-column: 1/2;
    grid-row: 6/7;
    width: 100%;
    text-align: center;
    padding-top: 15%;
    color: white;
    background-color: rgb(57, 95, 138);
    font-size: 20px;
    border: 5px purple solid;
}

.two {
    grid-column: 2/3;
    grid-row: 6/7;
    width: 100%;
    text-align: center;
    padding-top: 15%;
    color: white;
    background-color: rgb(57, 95, 138);
    font-size: 20px;
}

.three {
    grid-column: 3/4;
    grid-row: 6/7;
    width: 100%;
    text-align: center;
    padding-top: 15%;
    color: white;
    background-color: rgb(57, 95, 138);
    font-size: 20px;
}